PORT=3000
LOG_OUTPUT=console
LOG_LEVEL=trace


#DRIVER=redis
#DB_URL=redis://127.0.0.1:6379

#DRIVER=mariadb
#DB_URL=root:purser@tcp(127.0.0.1:3306)/purser?charset=utf8&parseTime=True&loc=Local

#DRIVER=postgres
#DB_URL=postgres://purser:purser@127.0.0.1:5432/purser

REDIS_DB_URL=redis://127.0.0.1:6379
MARIADB_DB_URL=root:purser@tcp(127.0.0.1:3306)/purser?charset=utf8&parseTime=True&loc=Local
POSTGRES_DB_URL=postgres://purser:purser@127.0.0.1:5432/purser
